<%- include('header'); -%>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html"> Blood Bank Management system <i class="icon-heart" aria-hidden="true"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                   
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <div class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div id="particles-js"></div>
        <div class="py-3 wrap-login1 bg-white pcontainInnerHoriz">
            <div class=" col-md-9 col-lg-9 "> 
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <td>UserID:</td>
                            <td><%=data.UserID%> </td>
                        </tr>
                     <tr>
                        <td>Blood type:</td>
                        <td><%=data.blood_type%></td>
                    </tr>
           
                    <tr>
                        <td>Sugar:</td>
                        <td><%=data.Sugar%></td>
                    </tr>
           
                    <tr>
                        <td>BP:</td>
                        <td><%=data.BP%></td>
                    </tr>
           
                    <tr>
                        <td>Height:</td>
                        <td><%=data.height%></td>
                    </tr>
                    <tr>
                        <td>Weight:</td>
                        <td><%=data.weight%></td>
                    </tr>
                    <tr>
                        <td>Ailments:</td>
                        <td><%=data.ailments%></td>
                    </tr>
                  
                    <tr>
                        <td>Points</td>
                        <td><%=data.points%></td>
                    </tr>
                      <tr>
                        <td>Last Donated:</td>
                        <td><%=data.last_donated.toDateString()%></td>
                    </tr>
                   
                      
                      
                
                 
            </tbody>
            </table>
        </div>
            
    </div>
    </div>


<%- include('footer'); -%>
