<%- include('header'); -%>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html"> Blood Bank <i class="icon-heart" aria-hidden="true"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                   
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <div class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div id="particles-js"></div>
        <div class="py-3 wrap-login900 bg-white pcontainInnerHoriz">
            <!--<div class=" col-md-15 col-lg-15 "> -->
                <table class="table">
                     <thead>
                        <tr>
                        
                            <th scope="col">RequestID</th>
                            <th scope="col">UserID</th>
                            <th scope="col">BloodBankID</th>
                            <th scope="col">blood_type</th>
                            <th scope="col"> blood_component</th>
                            <th scope="col"> status</th>
                            <th scope="col"> area</th>
                            <th scope="col">date_time</th>
                            <th scope="col">units</th>
                        </tr>
                    </thead>
                        <tbody>
                <% for (var i = 0; i < data.length; i++) { %>
                    <tr>
                        
                        <td><%= data[i].requestid%> </td>
                        <td><%=data[i].UserID%></td>
                        <td><%=data[i].BloodBankID%></td>
                        <td><%=data[i].blood_type%></td>
                        <td><%=data[i].blood_component%></td>
                        <td><%=data[i].status%></td>
                        <td><%=data[i].area%></td>
                        <td><%=data[i].date_time%></td>
                        <td><%=data[i].units%></td>
                      </tr>
                      
                      
                
                <% } %>
            </tbody>
            </table>

        
        
            <button class="login100-form-btn btn" href="/bserve_requests">
               Serve Requests
            </button>
       
            
    </div>
</div>
    
    


<%- include('footer'); -%>
